/* regole css*/
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
}

/* styles */

header {
    background-color: orangered;
    align-items: center;
    height: 90px;
}

.hero {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}
   

.logo {
    transform: scale(0.3);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 65px;
    
    
}

.small-container {
    width: calc(100% - 3);
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10%;
    
}

.small-container {
    width: 30%;
    height: auto;

}

img {
    width: 100%;
}
